.title{
  padding: 100;
  margin: 10;
  color:turquoise; 
  border-bottom: 2px soild tomato;
  text-align: center;

} 
.item{
  padding: 10px;
  margin:10px;
  background:red;
  color:yellow; 
  border:2px soild greenyellow; 
  width: 500px;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}